{% load static %}

<style>
    .details-table,
    .info-table {
      border-collapse: collapse; /* Elimina espacios entre celdas */
      width: 100%;
      margin-bottom: 10px; /* Reduce margen inferior */
    }
  
    .details-table th,
    .details-table td,
    .info-table td {
      border: 1px solid black;
      padding: 5px; /* Reduce el relleno de las celdas */
      vertical-align: top;
    }
  
    .details-table th {
      background-color: #f2f2f2;
    }
  
    .input-full,
    .input-wide {
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 4px; /* Reduce el margen inferior */
    }
  
    label {
      font-weight: bold;
      display: block;
      margin-bottom: 2px; /* Reduce el margen inferior */
    }
  
    .form-check-label {
      cursor: pointer;
      margin-bottom: 2px; /* Reduce el margen inferior */
    }
  
    .card-header h6,
    .card-header p {
      margin: 0; /* Elimina márgenes en textos del encabezado */
    }
  
    .list-group-item {
      padding: 5px 0; /* Reduce el relleno */
      border: 0; /* Asegura que no haya bordes adicionales */
    }
    .image-small {
    width: 100px; /* Ajusta este valor según el tamaño deseado */
    height: auto; /* Mantiene la proporción de la imagen */
  }
  .header-size {
    height: 100px; /* Ajusta este valor según sea necesario */
  }
  </style>
  
  <div class="container-fluid my-3 py-3 tab-pane fade" id="project-list" role="tabpanel" aria-labelledby="project-list-tab">
    <div class="row">
      <div class="col-md-8 col-sm-10 mx-auto">
        <form action="#" method="get">
          {% csrf_token %}
          <div class="card my-sm-5 position-relative transform-transition">
            <div class="card-header position-relative header-size d-flex justify-content-center align-items-center text-center">
              <div class="navbar-brand m-0">
                <img class="mb-2 image-small mx-auto" src="{% static 'assets/img/imagen_01.png' %}" alt="Logo de la Empresa">
                <h6>S89 Montauk Hwy. Copiague NY 11726</h6>
                <p class="d-block text-secondary">tel: 631-842-2515 | 631-842-2780 fx</p>
                <p class="d-block text-secondary">www.omgshowerdoors.com</p>
              </div>
            </div>
          </div>
            
            <div class="card-body">
              <div class="table-responsive">
                <table class="details-table">
                    <table class="details-table">
                        <tr>
                          <th colspan="2">SHIP TO</th>
                          <th colspan="2">BILL TO</th>
                        </tr>
                        <tr>
                          <td><label for="ship-name"><h6>Name:</h6></label></td>
                          <td><input type="text" id="ship-name" value="Dan Ferrara" class="input-wide"></td>
                          <td><label for="bill-company"><h6>Company:</h6></label></td>
                          <td><input type="text" id="bill-company" value="[Your Company]" class="input-wide"></td>
                        </tr>
                        <tr>
                          <td><label for="ship-address"><h6>Address:</h6></label></td>
                          <td><input type="text" id="ship-address" value="1805 Laurel Way" class="input-wide"></td>
                          <td><label for="bill-address"><h6>Address:</h6></label></td>
                          <td><input type="text" id="bill-address" value="[Your Address]" class="input-wide"></td>
                        </tr>
                        <tr>
                          <td><label for="ship-city"><h6>City:</h6></label></td>
                          <td><input type="text" id="ship-city" value="Mattituck, NY" class="input-wide"></td>
                          <td><label for="bill-city"><h6>City:</h6></label></td>
                          <td><input type="text" id="bill-city" value="Mattituck, NY" class="input-wide"></td>
                        </tr>
                        <tr>
                          <td><label for="ship-cell"><h6>Cell:</h6></label></td>
                          <td><input type="text" id="ship-cell" value="914-659-0362" class="input-wide"></td>
                          <td><label for="bill-phone"><h6>Phone:</h6></label></td>
                          <td><input type="text" id="bill-phone" value="[Your Phone Number]" class="input-wide"></td>
                        </tr>
                        <tr>
                          <td><label for="ship-email"><h6>Email:</h6></label></td>
                          <td><input type="email" id="ship-email" value="danfer@verizon.net" class="input-wide"></td>
                          <td><label for="bill-email"><h6>Email:</h6></label></td>
                          <td><input type="email" id="bill-email" value="danfer@verizon.net" class="input-wide"></td>
                        </tr>
                      </table>
                      <table class="details-table">
                      <tr>
                        <th>Handle</th>
                        <td><input type="text" id="handle" value="N/A" class="input-full"></td>
                        <th>Hardware Finish</th>
                        <td><input type="text" id="hardware-finish" value="Polished Chrome" class="input-full"></td>
                      </tr>
                      <tr>
                        <th>Glass Type</th>
                        <td><input type="text" id="glass-type" value="Low Iron" class="input-full"></td>
                        <th>Door Thickness</th>
                        <td><input type="text" id="door-thickness" value="N/A" class="input-full"></td>
                      </tr>
                      <tr>
                        <th>Stationary Panel</th>
                        <td colspan="3">
                          <input type="text" id="stationary-panel" value="Low Iron" class="input-full">
                        </td>
                      </tr>
                    </table>
                
                <h4>Project Details</h4>
                <table class="details-table">
                  <tr>
                    <td>
                      <strong>SHIP TO:</strong><br>
                      <div class="position-relative input-with-image">
                        <img src="{% static 'assets/img/2.png' %}" alt="Name" class="image-adjusted">
                        <!-- Additional content -->
                      </div>
                    </td>
                    <td>
                      <strong>SHIP TO:</strong><br>
                      <img src="{% static 'assets/img/1.png' %}" alt="Name" class="image-small">
                    </td>
                  </tr>
                </table>
                <input type="text" id="height" name="height" class="form-control" placeholder="Description">
                <br>
                <br>
                <table class="details-table">
                    <tr>
                        <th colspan="2" style="width: 352.17px;" data-selected="true" data-label-id="0">
                          Cost Breakdown
                        </th>
                      </tr>
                  <tr>
                    <th scope="col">Description</th>
                    <th scope="col">Amount</th>
                  </tr>
                  <tr>
                    <td>Low Iron Glass</td>
                    <td>$2,300</td>
                  </tr>
                  <tr>
                    <td>50% Deposit</td>
                    <td>$1,150</td>
                  </tr>
                  <tr>
                    <td>Balance</td>
                    <td>$1,150</td>
                  </tr>
                </table>
                <br>
                <table class="details-table">
                  <tr>
                    <th scope="col">Balance to be paid in cash or Cheks</th>
                    <td>
                        <ul class="list-group">
                          <li class="list-group-item border-0 px-0">
                            <div class="form-check form-switch ps-0">
                              <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault3" >Credit card
                              
                            </div>
                          </li>
                          <li class="list-group-item border-0 px-0">
                            <div class="form-check form-switch ps-0">
                              <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault4" checked="">Cash payment
                            </div>
                          </li>
                        </ul>
                      </td>
                  </tr>
                  <tr>
                    <td>CONTRACT APROVED</td>
                    <td><input type="date" id="bill-email" class="input-wide"></td>
                  </tr>
                  <tr>
                    <td>WORK COMPLETED SATISFACTION</td>
                    <td><input type="date" id="bill-email" class="input-wide"></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>