{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<style>
  .custom-link {
    text-decoration: none;
    color: inherit;
  }

  .custom-link:hover {
    background-color: hsl(0, 0%, 94%); /* Cambia el fondo al pasar el ratón */
    border-radius: 10px; /* Bordes redondeados */
  }

  .avatar {
    width: 100px;
    height: 100px;
    margin-right: 5px; /* Espacio entre las imágenes */
    object-fit: cover; /* Asegura que las imágenes mantengan su proporción */
   
  }
  .avatar1 {
    width: 150px;
    height: 150px;
    margin-right: 5px; /* Espacio entre las imágenes */
    object-fit: cover; /* Asegura que las imágenes mantengan su proporción */
   
  }

  .content-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px; /* Ajusta el ancho según el espacio que desees */
  }
  .avatar3d {
  width: 150px;
  height: 150px;
  margin-right: 5px;
  object-fit: cover;
  transition: transform 0.3s, box-shadow 0.3s;
  /* Sombra inicial para el efecto 3D */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Efecto cuando el usuario pasa el ratón sobre la imagen */
.avatar3d:hover {
  transform: perspective(600px) rotateY(15deg) scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
</style>
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-4">
        <div class="card blur shadow-blur max-height-vh-70 overflow-auto overflow-x-hidden mb-5 mb-lg-0">
          <div class="card-header p-3">
            <h6>Type</h6>
          </div>
          <div class="card-body p-2">
            <a href="javascript:;" class="custom-link d-block p-2">
              <div class="d-flex p-2 align-items-center">
                <!-- Contenedor de cada imagen con su nombre -->
                <div class="text-center me-2">
                  <img alt="Image" src="{% static 'assets/img/1.jpg' %}" class="avatar shadow">
                  <span class="text-muted text-sm col-11 p-0 text-truncate d-block">
                    Inline
                  </span>
                </div>
                <div class="text-center me-2">
                  <img alt="Image" src="{% static 'assets/img/2.jpg' %}" class="avatar shadow">
                  <span class="text-muted text-sm col-11 p-0 text-truncate d-block">
                    Right Angle
                  </span>
                </div>
                <div class="text-center">
                  <img alt="Image" src="{% static 'assets/img/3.jpg' %}" class="avatar shadow">
                  <span class="text-muted text-sm col-11 p-0 text-truncate d-block">
                    Neo
                  </span>
                </div>
              </div>
            </a>
            <div class="card-header p-3">
              <h6>Doors</h6>
            </div>
            <a href="javascript:;" class="custom-link d-block p-2">
              <div class="d-flex p-2 align-items-center">
                <!-- Contenedor de cada imagen con su nombre -->
                <div class="text-center me-2">
                  <img alt="Image" src="{% static 'assets/img/1.jpg' %}" class="avatar shadow">
                  <span class="text-muted text-sm col-11 p-0 text-truncate d-block">
                    Inline
                  </span>
                </div>
                <div class="text-center me-2">
                  <img alt="Image" src="{% static 'assets/img/2.jpg' %}" class="avatar shadow">
                  <span class="text-muted text-sm col-11 p-0 text-truncate d-block">
                    Right Angle
                  </span>
                </div>
                <div class="text-center">
                  <img alt="Image" src="{% static 'assets/img/3.jpg' %}" class="avatar shadow">
                  <span class="text-muted text-sm col-11 p-0 text-truncate d-block">
                    Neo
                  </span>
                </div>
              </div>
            </a>
            <a href="javascript:;" class="custom-link d-block p-2">
              <div class="d-flex p-2 align-items-center">
                <!-- Contenedor de cada imagen con su nombre -->
                <div class="text-center me-2">
                  <img alt="Image" src="{% static 'assets/img/1.jpg' %}" class="avatar shadow">
                  <span class="text-muted text-sm col-11 p-0 text-truncate d-block">
                    Inline
                  </span>
                </div>
                <div class="text-center me-2">
                  <img alt="Image" src="{% static 'assets/img/2.jpg' %}" class="avatar shadow">
                  <span class="text-muted text-sm col-11 p-0 text-truncate d-block">
                    Right Angle
                  </span>
                </div>
              </div>
            </a>
            <div class="card-header p-3">
              <h6>Hinges</h6>
            </div>
            <a href="javascript:;" class="custom-link d-block p-2">
              <div class="d-flex p-2 align-items-center">
                <!-- Contenedor de cada imagen con su nombre -->
                <div class="text-center me-2">
                  <img alt="Image" src="{% static 'assets/img/1.jpg' %}" class="avatar shadow">
                  <span class="text-muted text-sm col-11 p-0 text-truncate d-block">
                    Inline
                  </span>
                </div>
                <div class="text-center me-2">
                  <img alt="Image" src="{% static 'assets/img/2.jpg' %}" class="avatar shadow">
                  <span class="text-muted text-sm col-11 p-0 text-truncate d-block">
                    Right Angle
                  </span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <!-- Contenedor de la otra Card -->
      <div class="col-8">
        <div class="card blur shadow-blur max-height-vh-70">
          <div class="card-body overflow-auto overflow-x-hidden">
            <div class="row justify-content-start mb-4">
              <a href="javascript:;" class="custom-link d-block p-2">
                <div class="d-flex p-2 align-items-center">
                  <!-- Contenedor de cada imagen con su nombre -->
                  <div class="text-center me-2">
                    <img alt="Image" src="{% static 'assets/img/1.jpg' %}" class="avatar3d shadow">
                  </div>
                  <div class="text-center me-2">
                    <img alt="Image" src="{% static 'assets/img/2.jpg' %}" class="avatar3d shadow">
                  </div>
                  <div class="text-center me-2">
                    <img alt="Image" src="{% static 'assets/img/2.jpg' %}" class="avatar3d shadow">
                  </div>
                  <div class="text-center me-2">
                    <img alt="Image" src="{% static 'assets/img/2.jpg' %}" class="avatar3d shadow">
                  </div>
                  <div class="text-center me-2">
                    <img alt="Image" src="{% static 'assets/img/2.jpg' %}" class="avatar3d shadow">
                  </div>
                </div>
              </a>
            </div>
            <div class="row justify-content-start mb-4">
              <a href="javascript:;" class="custom-link d-block p-2">
                <div class="d-flex p-2 align-items-center">
                  <!-- Contenedor de cada imagen con su nombre -->
                  <div class="text-center me-2">
                    <img alt="Image" src="{% static 'assets/img/1.jpg' %}" class="avatar3d shadow">
                    
                  </div>
                  <div class="text-center me-2">
                    <img alt="Image" src="{% static 'assets/img/2.jpg' %}" class="avatar3d shadow">
                    
                  </div>
                  <div class="text-center me-2">
                    <img alt="Image" src="{% static 'assets/img/2.jpg' %}" class="avatar3d shadow">
                    
                  </div>
                  <div class="text-center me-2">
                    <img alt="Image" src="{% static 'assets/img/2.jpg' %}" class="avatar3d shadow">
                    
                  </div>
                  <div class="text-center me-2">
                    <img alt="Image" src="{% static 'assets/img/2.jpg' %}" class="avatar3d shadow">
                    
                  </div>
                </div>
              </a>
            </div>
            <div class="row justify-content-start mb-4">
              <a href="javascript:;" class="custom-link d-block p-2">
                <div class="d-flex p-2 align-items-center">
                  <!-- Contenedor de cada imagen con su nombre -->
                  <div class="text-center me-2">
                    <img alt="Image" src="{% static 'assets/img/1.jpg' %}" class="avatar3d shadow">
                    
                  </div>
                  <div class="text-center me-2">
                    <img alt="Image" src="{% static 'assets/img/2.jpg' %}" class="avatar3d shadow">
                    
                  </div>
                  <div class="text-center me-2">
                    <img alt="Image" src="{% static 'assets/img/2.jpg' %}" class="avatar3d shadow">
                   
                  </div>
                  <div class="text-center me-2">
                    <img alt="Image" src="{% static 'assets/img/2.jpg' %}" class="avatar3d shadow">
                    
                  </div>
                  <div class="text-center me-2">
                    <img alt="Image" src="{% static 'assets/img/2.jpg' %}" class="avatar3d shadow">
                    
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'includes/footer.html' %}
    
  </div>

{% endblock content %}
  